.App {
  text-align: center;
  font-size: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.timer {
  font-size: 140px;
  /* background-color: rgba(0, 0, 0, 0.219); */
  padding: 2%;
}

button {
  font-size: 50px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.button-start {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button-reset {
  background-color: #f44336; /* Red */
  color: white;
}
